<div class="latest">
    <div class="inner">
        <p><img src="img/{{ asset 'latest.png' }}" alt=""/><strong>Hello!</strong> This season of minicomic.club has closed. You can see what we're up to with the <a href="/" title="The latest minicomic club">latest one here</a> or <a href="#subscribe" title="Don't miss out on comics in the mail">sign up for the mailing list</a> and you won't miss one again:</p>
    </div>
</div>